.picture {
    display: block;
    width: 800px;
    height: 600px;
}

.h1 {
    color:aquamarine;
    font-style: italic;
}

.name {
    font-style: italic;
    font-size: medium;
}

.Specifications {
    color: antiquewhite;
    background-color:cornflowerblue
    margin: auto;
}

#description {
    background-color: thistle;
    margin-left: 25px;
}