.h1 {
    color:aquamarine;
    font-style: italic;
}

.name {
    font-style: italic;
    font-size: medium;
}

.Specifications {
    color: antiquewhite;
    background-color: beige;
    margin: auto;
}

#description {
    background-color: thistle;
    margin-left: 25px;
}